---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./helmrelease.yaml
  - ./ocirepository.yaml
patches:
  - path: servicemonitor-patch.yaml
    target:
      kind: ServiceMonitor
      name: rook-ceph-mgr
