# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app qbittorrent
spec:
  chartRef:
    kind: OCIRepository
    name: qbittorrent
  interval: 1h
  values:
    controllers:
      qbittorrent:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          gluetun:
            image:
              repository: ghcr.io/qdm12/gluetun
              tag: v3.40.3@sha256:ef4a44819a60469682c7b5e69183e6401171891feaa60186652d292c59e41b30
            env:
              DOT: off
              DNS_ADDRESS: 10.96.0.10 # CoreDNS
              HTTP_CONTROL_SERVER_AUTH_CONFIG_FILEPATH: &gluetunAuthPath /gluetun/auth.toml
              FIREWALL_INPUT_PORTS: 80,8388,9999 # 80: WebUI, 8388 Socks Proxy, 9999 Kube Probes
              FIREWALL_OUTBOUND_SUBNETS: 10.42.0.0/16,10.96.0.0/12 # Allow access to k8s subnets
              HEALTH_SERVER_ADDRESS: :9999
              HEALTH_SUCCESS_WAIT_DURATION: 10s
              VPN_TYPE: wireguard
              VPN_PORT_FORWARDING: on
              PORT_FORWARD_ONLY: on
              VPN_INTERFACE: tun0
              SERVER_COUNTRIES: Australia
              SERVER_CITIES: Melbourne
              UPDATER_PERIOD: 24h
              VPN_SERVICE_PROVIDER: protonvpn
              WIREGUARD_ADDRESSES: 10.2.0.2/32
            envFrom:
              - secretRef:
                  name: gluetun-secret
            probes:
              liveness:
                enabled: true
                custom: true
                spec: &probe
                  exec:
                    command:
                      - /bin/sh
                      - -c
                      - >-
                        [ $(wget -O - -q --header="X-API-KEY: $GLUETUN_CONTROL_SERVER_API_KEY" http://localhost:8000/v1/openvpn/portforwarded) != '{"port":0}' ]
                  initialDelaySeconds: 10
                  periodSeconds: 10
                  successThreshold: 1
                  timeoutSeconds: 1
                  failureThreshold: 30
              startup:
                enabled: true
                custom: true
                spec:
                  <<: *probe
                  exec:
                    command:
                      - /bin/sh
                      - -c
                      - >-
                        wget -O - -q --header="X-API-KEY: $GLUETUN_CONTROL_SERVER_API_KEY" http://localhost:8000/v1/publicip/ip
            lifecycle:
              postStart:
                exec:
                  command:
                    - /bin/sh
                    - -c
                    - >-
                      (ip rule del table 51820; ip -6 rule del table 51820) || true
            restartPolicy: Always
            securityContext:
              # can't be non-root, or it has no access to tunnel
              runAsNonRoot: false
              runAsUser: 0
              runAsGroup: 0
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false # wants to create a user, etc
              capabilities:
                add: [NET_ADMIN]
            resources:
              requests:
                cpu: 20m
              limits:
                squat.ai/tun: 1
                memory: 256Mi
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/qbittorrent
              tag: 5.1.4@sha256:25fc7caf22101f85276ede9b1f76a46b7a93971bb6b70b6c58d14d6ab7f51415
            env:
              UMASK: "022"
              QBT_WEBUI_PORT: &port 80
              PUSHOVER_ENABLED: true
              GLUETUN_CONTROL_SERVER_API_KEY:
                valueFrom:
                  secretKeyRef:
                    name: gluetun-secret
                    key: GLUETUN_CONTROL_SERVER_API_KEY
            envFrom:
              - secretRef:
                  name: qbittorrent-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/v2/app/version
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            securityContext: &securityContext
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 2Gi
          port-forward:
            image:
              repository: ghcr.io/bjw-s-labs/gluetun-qb-port-sync
              tag: 0.0.4@sha256:6060da1978c5ec8ea1cad56d8538f35b504b1dcb3fc9845f1f69b18d1b36020a
            env:
              GLUETUN_CONTROL_SERVER_HOST: localhost
              GLUETUN_CONTROL_SERVER_PORT: 8000
              GLUETUN_CONTROL_SERVER_API_KEY:
                valueFrom:
                  secretKeyRef:
                    name: gluetun-secret
                    key: GLUETUN_CONTROL_SERVER_API_KEY
              QBITTORRENT_HOST: localhost
              QBITTORRENT_WEBUI_PORT: *port
              CRON_ENABLED: true
              CRON_SCHEDULE: "*/5 * * * *"
              LOG_TIMESTAMP: false
            resources:
              requests:
                cpu: 5m
              limits:
                memory: 32Mi
            securityContext: *securityContext
          mam-keepalive:
            image:
              repository: curlimages/curl
              tag: 8.17.0
            command:
              - /bin/sh
              - -c
              - |
                while [ -z "$MAM_ID" ]; do echo "$(date): MAM_ID not set..."; sleep 5; done
                while true; do
                  echo "$(date): MAM_ID: $MAM_ID"
                  curl -b "mam_id=$MAM_ID" -Ls https://t.myanonamouse.net/json/dynamicSeedbox.php --connect-timeout 5 --max-time 30 || echo -e "\nMAM keepalive failed"
                  echo -e "\n$(date): Sleeping for 1 hour..."
                  sleep 3600
                done
            env:
              MAM_ID:
                valueFrom:
                  secretKeyRef:
                    name: qbittorrent-secret
                    key: MAM_ID
            resources:
              requests:
                cpu: 5m
              limits:
                memory: 32Mi
            securityContext: *securityContext
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        primary: true
        forceRename: *app
        ports:
          http:
            primary: true
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.sbbh.cloud"
          - "qb.sbbh.cloud"
        parentRefs:
          - name: envoy-internal
            namespace: network
        rules:
          - backendRefs:
              - identifier: app
                port: *port
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Media
          gethomepage.dev/icon: "{{ .Release.Name }}.svg"
          gethomepage.dev/name: "{{ .Release.Name | title }}"
          gethomepage.dev/widget.type: "{{ .Release.Name }}"
          gethomepage.dev/widget.url: "https://{{ .Release.Name }}.sbbh.cloud"
          gethomepage.dev/widget.username: "${USERNAME:-placeholder}"
          gethomepage.dev/widget.password: "${PASSWORD:-placeholder}"
          gethomepage.dev/widget.enableLeechProgress: "true"
          gethomepage.dev/pod-selector: "app.kubernetes.io/name={{ .Release.Name }}"
      app-ext:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 404"]
        hostnames:
          - "{{ .Release.Name }}-ext.sbbh.cloud"
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - matches:
              - headers:
                  - name: X-Password
                    value: "${PASSWORD:-placeholder}"
            backendRefs:
              - identifier: app
                port: *port
    configMaps:
      config:
        data:
          .qbt.toml: |
            [qbittorrent]
            addr = "http://localhost:80"
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
      config-file:
        type: configMap
        identifier: config
        globalMounts:
          - path: /config/.qbt.toml
            subPath: .qbt.toml
      scripts:
        type: configMap
        name: qbittorrent-configmap
        defaultMode: 0775
        globalMounts:
          - readOnly: true
      gluetun-auth:
        type: secret
        name: "{{ .Release.Name }}-gluetun-secret"
        advancedMounts:
          qbittorrent:
            gluetun:
              - path: *gluetunAuthPath
                subPath: auth.toml
      media:
        type: nfs
        server: nas-k8s.int.sbbh.cloud
        path: /data/nvme/downloads
        globalMounts:
          - path: /media/downloads
      tmp:
        type: emptyDir
