[settings]
experimental = true

[hooks]
enter = [
  "mise install --quiet && mise upgrade --quiet",
  "mkdir -p .cache/{ansible,terraform/plugins}"
]

# remove annoying ansible cache dir created by ansible-lint
[[watch_files]]
patterns = ["**/.ansible/*"]
run = "find . -name '.ansible' -type d -exec rmdir -p {} +"

[env]
_.python.venv = { path = ".venv", create = true }
MISE_ENV = true
HISTFILE = "{{config_root}}/.cache/zsh_history"

# path
_.path = { path = ["{{config_root}}/bin"] }

# vault
_.file = [
  { path = ".private/env.d/aws.env", redact = true },
  { path = ".private/env.d/opnsense.env", redact = true },
  { path = ".private/env.d/pve.env", redact = true },
  { path = ".private/env.d/tf.env", redact = true },
  { path = ".private/env.d/vault.env", redact = true },
  { path = ".private/env.d/cloudflare.env", redact = true }
]

# ansible
ANSIBLE_VAULT_PASSWORD_FILE = "{{config_root}}/.private/core/ansible_vault_key"
ANSIBLE_CONFIG = "{{config_root}}/ansible/ansible.cfg"
ANSIBLE_PLAYBOOK_DIR = "{{config_root}}/ansible/playbooks"
ANSIBLE_COLLECTIONS_PATH = "{{config_root}}/.cache/ansible/collections"
ANSIBLE_ROLES_PATH = "{{config_root}}/.cache/ansible/roles:roles"
ANSIBLE_LOCAL_TEMP = "{{config_root}}/.cache/ansible/tmp"
ANSIBLE_LOG_PATH = "{{config_root}}/.cache/ansible.log"
ANSIBLE_GALAXY_TOKEN_PATH = "{{config_root}}/.cache/galaxy_token"

# kubernetes
KUBECONFIG = "{{config_root}}/.private/kubernetes/kubeconfig"
TALOSCONFIG = "{{config_root}}/.private/talos/talosconfig.yaml"

# terraform
TF_LOG_PATH = "{{config_root}}/.cache/terraform/terraform.log"
TF_PLUGIN_CACHE_DIR = "{{config_root}}/.cache/terraform/plugins"

[tools]
# "python" = "{{ get_env(name='PYTHON_VERSION', default='3.13') }}"
"uv" = "latest"
"asdf:MetricMike/asdf-awscli" = "2.29.0"
"aqua:cli/cli" = "2.83.1" # GitHub CLI
"aqua:jqlang/jq" = "1.8.1"
"aqua:mikefarah/yq" = "4.49.1"
"aqua:go-task/task" = "3.45.5"
"aqua:hashicorp/vault" = "1.21.1"
"npm:renovate" = "42.30.3"

# kubernetes
"aqua:budimanjojo/talhelper" = "3.0.41"
"aqua:cilium/cilium-cli" = "0.18.9"
"aqua:cloudflare/cloudflared" = "2025.11.1"
"aqua:fluxcd/flux2" = "2.7.5"
"aqua:helm/helm" = "3.19.2"
"aqua:helmfile/helmfile" = "1.1.9"
"aqua:kubernetes-sigs/kustomize" = "5.7.1"
"aqua:kubernetes/kubectl" = "1.34.0"
"aqua:siderolabs/talos" = "1.11.5"
"aqua:yannh/kubeconform" = "0.7.0"
"asdf:bjw-s/asdf-talhelper" = "3.0.34"
"aqua:kubernetes-sigs/krew" = "0.4.5"
