[env]
_.python.venv = { path = ".venv", create = true }
MISE_ENV = true
HISTFILE = "{{config_root}}/.cache/zsh_history"
MINIJINJA_CONFIG_FILE = "{{config_root}}/.minijinja.toml"

# vault
_.file = { path = ".private/vault.env", redact = true }

# ansible
ANSIBLE_VAULT_PASSWORD_FILE = "{{config_root}}/.secret/ansible_vault_key"
ANSIBLE_CONFIG = "{{config_root}}/ansible/ansible.cfg"
ANSIBLE_PLAYBOOK_DIR = "{{config_root}}/ansible/playbooks"
ANSIBLE_COLLECTIONS_PATH = "{{config_root}}/.cache/ansible/collections"
ANSIBLE_ROLES_PATH = "{{config_root}}/.cache/ansible/roles:roles"
ANSIBLE_LOCAL_TEMP = "{{config_root}}/.cache/ansible/tmp"
ANSIBLE_LOG_PATH = "{{config_root}}/.cache/ansible.log"
ANSIBLE_GALAXY_TOKEN_PATH = "{{config_root}}/.cache/galaxy_token"

# kubernetes
KUBECONFIG = "{{config_root}}/.private/kubeconfig"
TALOSCONFIG = "{{config_root}}/talosconfig"

[settings]
experimental = true

[hooks]
enter = [
  "mise install --quiet && mise upgrade --quiet",
  "mkdir -p .cache"
]

[tools]
"python" = "3.13"
"pipx:makejinja" = "2.8.1"
"aqua:cli/cli" = "2.78.0" # GitHub CLI
"aqua:jqlang/jq" = "1.8.1"
"aqua:mikefarah/yq" = "4.47.1"
"aqua:evilmartians/lefthook" = "1.12.4"
"aqua:casey/just" = "1.42.4"

# ansible
"pipx:ansible-core" = "2.18.1"

# kubernetes
"aqua:budimanjojo/talhelper" = "3.0.34"
"aqua:cilium/cilium-cli" = "0.18.7"
"aqua:cloudflare/cloudflared" = "2025.8.1"
"aqua:fluxcd/flux2" = "2.6.4"
"aqua:helm/helm" = "3.18.6"
"aqua:helmfile/helmfile" = "1.1.6"
"aqua:kubernetes-sigs/kustomize" = "5.7.1"
"aqua:kubernetes/kubectl" = "1.34.0"
"aqua:siderolabs/talos" = "1.11.0"
"aqua:yannh/kubeconform" = "0.7.0"
