---
- name: Set Proxmox API credential facts
  set_fact:
    pve_user: "{{ lookup('community.hashi_vault.hashi_vault', 'secret=ops/data/infra/pve-iac:user') }}"
    pve_token_name: "{{ lookup('community.hashi_vault.hashi_vault', 'secret=ops/data/infra/pve-iac:token') }}"
    pve_token_secret: "{{ lookup('community.hashi_vault.hashi_vault', 'secret=ops/data/infra/pve-iac:token_value') }}"
  no_log: true

- name: Parse Proxmox API credentials
  set_fact:
    pve_token_id: "{{ pve_user }}!{{ pve_token_name }}"
    pve_api_user: "{{ pve_user }}"
    pve_api_token_name: "{{ pve_token_name }}"
    pve_api_host: "{{ ansible_host }}"
  no_log: true

- name: Create Proxmox VM
  ansible.builtin.import_tasks: create_vm.yml
  when: "'create_vm' in pve_tasks"

- name: Create cloud-init template
  ansible.builtin.import_tasks: create_cloudinit.yml
  when: "'create_cloudinit' in pve_tasks"

- name: Create Proxmox LXC
  ansible.builtin.import_tasks: create_lxc.yml
  when: "'create_lxc' in pve_tasks"

- name: Start Proxmox VM/LXC
  ansible.builtin.import_tasks: start.yml
  when: "'start' in pve_tasks"
