---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: uptermd
spec:
  chartRef:
    kind: OCIRepository
    name: uptermd
  interval: 1h
  values:
    controllers:
      uptermd:
        containers:
          app:
            image:
              repository: ghcr.io/owenthereal/upterm/uptermd
              tag: v0.18.0
            args:
              - "--ssh-addr=:22"
              - "--ws-addr=:80"
              - "--node-addr=:22"
              - "--hostname=upterm.sbbh.cloud"
              - "--network=mem"
              - "--metric-addr=:9090"
            env:
              UPTERM_HOST_KEYS_DIR: /host-keys
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  tcpSocket:
                    port: &port 80
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 20m
              limits:
                memory: 512Mi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            appProtocol: kubernetes.io/ws
            port: *port
          metrics:
            port: 9090
    serviceMonitor:
      app:
        endpoints:
          - port: metrics
            path: /metrics
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 400"]
        hostnames:
          - "upterm.sbbh.cloud"
        parentRefs:
          - name: envoy-external
            namespace: network
    persistence:
      host-keys:
        type: emptyDir
        globalMounts:
          - path: /host-keys
