---
- name: Configure kernel parameters
  ansible.posix.sysctl:
    name: "{{ item.key }}"
    value: "{{ item.value }}"
    state: present
    sysctl_file: /etc/sysctl.d/90-custom.conf
    sysctl_set: true
    reload: true
  loop: "{{ sysctl_settings | dict2items }}"
  loop_control:
    label: "{{ item.key }}={{ item.value }}"
  become: true
  when: sysctl_settings is defined
