---
- name: Update system packages
  when: ansible_os_family == "Debian"
  block:
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true
        cache_valid_time: 3600
      become: true

    - name: Upgrade packages
      ansible.builtin.apt:
        upgrade: dist
        state: latest
      become: true
