---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: calibre
spec:
  chartRef:
    kind: OCIRepository
    name: calibre
  interval: 1h
  values:
    controllers:
      calibre:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/crocodilestick/calibre-web-automated
              tag: V3.1.4@sha256:577e846f104fd21453ef306eefb4a95dd95b3b9ddd2463a150944494284da0fd
            env:
              CACHE_DIR: /cache
              PUID: 1000
              PGID: 1000
              NETWORK_SHARE_MODE: true
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 5
            securityContext:
              allowPrivilegeEscalation: false
            resources:
              requests:
                cpu: 5m
                memory: 1Gi
              limits:
                memory: 2Gi
    service:
      app:
        ports:
          http:
            port: 8083
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.sbbh.cloud"
        parentRefs:
          - name: envoy-external
            namespace: network
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Media
          gethomepage.dev/icon: "calibre-web.svg"
          gethomepage.dev/name: "{{ .Release.Name | title }}"
          gethomepage.dev/widget.type: "calibreweb"
          gethomepage.dev/widget.url: "https://{{ .Release.Name }}.sbbh.cloud"
          gethomepage.dev/widget.username: "{{`{{HOMEPAGE_VAR_CALIBRE_USER}}`}}"
          gethomepage.dev/widget.password: "{{`{{HOMEPAGE_VAR_CALIBRE_PASS}}`}}"
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
      media:
        type: nfs
        server: nas-k8s.int.sbbh.cloud
        path: /data/nvme/media/books/ebooks
        globalMounts:
          - path: /calibre-library
