---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: filebrowser
spec:
  chartRef:
    kind: OCIRepository
    name: filebrowser
  interval: 1h
  values:
    controllers:
      filebrowser:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: docker.io/filebrowser/filebrowser
              tag: v2.44.2@sha256:b79117d39ac0d6f5112ba7ea53aba06c25d95d334938e2f52521ec9aaf459c30
            env:
              FB_DATABASE: /config/filebrowser.db
              FB_ROOT: /data
              FB_CACHE_DIR: /tmp
              FB_PORT: &port 80
              FB_DISABLE_EXEC: false
            envFrom:
              - secretRef:
                  name: filebrowser-secret
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /health
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 2Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 200"]
        hostnames:
          - "{{ .Release.Name }}.sbbh.cloud"
          - files.sbbh.cloud
        parentRefs:
          - name: envoy-external
            namespace: network
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
      tmp:
        type: emptyDir
      media-hdd:
        type: nfs
        server: nas-k8s.int.sbbh.cloud
        path: /data/hdd1/media
        globalMounts:
          - path: /data/media-hdd
      media-nvme:
        type: nfs
        server: nas-k8s.int.sbbh.cloud
        path: /data/nvme/media
        globalMounts:
          - path: /data/media-nvme
      downloads:
        type: nfs
        server: nas-k8s.int.sbbh.cloud
        path: /data/nvme/downloads
        globalMounts:
          - path: /data/downloads
      pub:
        type: nfs
        server: nas-k8s.int.sbbh.cloud
        path: /data/hdd0/pub
        globalMounts:
          - path: /data/pub
