---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: headlamp
spec:
  chartRef:
    kind: OCIRepository
    name: headlamp
  interval: 1h
  values:
    podAnnotations:
      reloader.stakater.com/auto: "true"
    config:
      watchPlugins: true
      oidc:
        secret:
          create: false
        externalSecret:
          enabled: true
          name: headlamp-oidc-secret
    pluginsManager:
      enabled: true
      configContent: |
        plugins:
          - name: flux
            source: https://artifacthub.io/packages/headlamp/headlamp-plugins/headlamp_flux
            version: 0.5.0
        installOptions:
          parallel: true
          maxConcurrent: 2
