machine:
  install:
    systemExtensions:
      officialExtensions:
        - siderolabs/i915 # Intel iGPU
        - siderolabs/intel-ucode # Intel iGPU
        - siderolabs/mei # Intel iGPU
        - siderolabs/nfsrahead # NFS Performance
        - siderolabs/util-linux-tools # Utils

