---
- name: Pulling existing rules
  oxlorg.opnsense.list:
    target: "rule"
  register: existing_entries

- name: Printing rules
  ansible.builtin.debug:
    var: existing_entries.data

- name: Purge all firewall rules
  oxlorg.opnsense.rule:
    multi_control:
      purge_all: true

- name: Create firewall groups
  oxlorg.opnsense.rule_interface_group:
    name: "{{ item.name }}"
    members: "{{ item.members | map('extract', interface_mapping) | list }}"
    description: "{{ item.desc }}"
  loop: "{{ firewall.groups }}"

- name: Create firewall rules
  oxlorg.opnsense.rule:
    rules: "{{ firewall.rules }}"
