---
# yaml-language-server: $schema=https://taskfile.dev/schema.json
version: "3"

tasks:
  secret-karakeep:
    internal: true
    cmds:
      - task: vault
        vars: { PATH: ops/services/karakeep, SECRET: "encryption_key='{{.encryption_key}}' meilisearch_master_key='{{.meilisearch_master_key}}' openai_key='{{.openai_key}}'" }
    vars:
      encryption_key:
        sh: task secrets:get:karakeep.sbbh.cloud:encryption-key
      meilisearch_master_key:
        sh: task secrets:get:karakeep.sbbh.cloud:meilisearch-master-key
      openai_key:
        sh: task secrets:get:karakeep.sbbh.cloud:openai-key

  secret-speedtest-tracker:
    internal: true
    cmds:
      - task: vault
        vars: { PATH: ops/services/speedtest-tracker, SECRET: "app_key='{{.app_key}}' admin_email='{{.email}}' user='{{.user}}' password='{{.password}}'" }
    vars:
      app_key:
        sh: task secrets:get:speedtracker.sbbh.cloud:app-key
      email:
        sh: task secrets:get:speedtracker.sbbh.cloud:admin-email
      user:
        sh: task secrets:get:speedtracker.sbbh.cloud:username
      password:
        sh: task secrets:get:speedtracker.sbbh.cloud:password
