---
# yaml-language-server: $schema=https://taskfile.dev/schema.json
version: "3"

tasks:
  annotate:*:*:*:
    desc: Annotate Flux resource [RESOURCE:NAME:NS] [vars FORCE FORCED_AT REQUESTED_AT]
    cmd: |
      kubectl -n "{{.NS}}" annotate \
        --field-manager flux-client-side-apply \
        --overwrite {{.RESOURCE}} "{{.NAME}}" \
        {{if .FORCE}}force-sync="$(date +%s)"{{end}} {{if .FORCED_AT}}reconcile.fluxcd.io/forceAt="$(date +%s)"{{end}} {{if .REQUESTED_AT}}reconcile.fluxcd.io/requestedAt="$(date +%s)"{{end}}
    vars:
      RESOURCE: "{{index .MATCH 0}}"
      NAME: "{{index .MATCH 1}}"
      NS: "{{index .MATCH 2}}"

  sync:*:
    desc: Sync Flux resources [repo, es, helm, ks, oci]
    cmds:
      - task: annotate:{{.RESOURCE}}
    vars:
      RESOURCE: "{{index .MATCH 0}}"

  annotate:repo:
    desc: Sync GitRepositories
    internal: true
    cmds:
      - |
        kubectl get gitrepo --no-headers -A | while read -r ns name _; do
          task annotate:gitrepo:$name:$ns REQUESTED_AT=true
        done

  annotate:es:
    desc: Sync ExternalSecrets
    internal: true
    cmds:
      - |
        kubectl get es --no-headers -A | while read -r ns name _; do
          task annotate:es:$name:$ns FORCE=true
        done

  annotate:helm:
    desc: Sync HelmReleases
    internal: true
    cmds:
      - |
        kubectl get hr --no-headers -A | while read -r ns name _; do
          task annotate:hr:$name:$ns FORCED_AT=true REQUESTED_AT=true
        done

  annotate:ks:
    desc: Sync Kustomizations
    internal: true
    cmds:
      - |
        kubectl get ks --no-headers -A | while read -r ns name _; do
          task annotate:ks:$name:$ns REQUESTED_AT=true
        done

  annotate:oci:
    desc: Sync OCIRepositories
    internal: true
    cmds:
      - |
        kubectl get ocirepo --no-headers -A | while read -r ns name _; do
          task annotate:ocirepo:$name:$ns REQUESTED_AT=true
        done
