---
# yaml-language-server: $schema=https://taskfile.dev/schema.json
version: "3"

tasks:
  annotate:*:*:*:
    desc: Annotate Flux resource [RESOURCE:NAME:NS] [vars FORCE FORCED_AT REQUESTED_AT]
    cmd: |
      kubectl -n "{{.NS}}" annotate \
        --field-manager flux-client-side-apply \
        --overwrite {{.RESOURCE}} "{{.NAME}}" \
        {{if .FORCE}}force-sync="$(date +%s)"{{end}} {{if .FORCED_AT}}reconcile.fluxcd.io/forceAt="$(date +%s)"{{end}} {{if .REQUESTED_AT}}reconcile.fluxcd.io/requestedAt="$(date +%s)"{{end}}
    vars:
      RESOURCE: "{{index .MATCH 0}}"
      NAME: "{{index .MATCH 1}}"
      NS: "{{index .MATCH 2}}"

  sync:*:
    desc: Sync Flux resources ["repo" | "es" | "helm" | "ks" | "oci"]
    cmds:
      - task: annotate:{{.RESOURCE}}
    vars:
      RESOURCE: "{{index .MATCH 0}}"

  annotate:apps:
    desc: Sync cluster-apps
    internal: true
    cmd: task annotate:ks:cluster-apps:flux-system REQUESTED_AT=true

  annotate:repo:
    desc: Sync GitRepositories
    internal: true
    cmds:
      - |
        kubectl get gitrepo --no-headers -A | while read -r ns name _; do
          task annotate:gitrepo:$name:$ns REQUESTED_AT=true
        done

  annotate:es:
    desc: Sync ExternalSecrets
    internal: true
    cmds:
      - |
        kubectl get es --no-headers -A | while read -r ns name _; do
          task annotate:es:$name:$ns FORCE=true
        done

  annotate:helm:
    desc: Sync HelmReleases
    internal: true
    cmds:
      - |
        kubectl get hr --no-headers -A | while read -r ns name _; do
          task annotate:hr:$name:$ns FORCED_AT=true REQUESTED_AT=true
        done

  annotate:ks:
    desc: Sync Kustomizations
    internal: true
    cmds:
      - |
        kubectl get ks --no-headers -A | while read -r ns name _; do
          task annotate:ks:$name:$ns REQUESTED_AT=true
        done

  annotate:oci:
    desc: Sync OCIRepositories
    internal: true
    cmds:
      - |
        kubectl get ocirepo --no-headers -A | while read -r ns name _; do
          task annotate:ocirepo:$name:$ns REQUESTED_AT=true
        done

  reset:*:
    desc: Reset Flux application
    cmds:
      - |
        NS=$(kubectl get deploy -A -l 'app.kubernetes.io/name={{.APP}}' -o jsonpath='{range .items[*]}{.metadata.namespace}{"\n"}{end}')
        if [[ -n "$NS" ]]; then
          kubectl -n "$NS" delete ks {{.APP}} || true &
          kubectl -n "$NS" delete ocirepo {{.APP}} || true
          kubectl -n "$NS" delete deploy -l 'app.kubernetes.io/name={{.APP}}' || true
          while kubectl -n "$NS" get ks {{.APP}} &>/dev/null; do sleep 1; done
          task annotate:ocirepo:{{.APP}}:$NS REQUESTED_AT=true 2>/dev/null || true
          task annotate:ks:{{.APP}}:$NS REQUESTED_AT=true
        else
          task annotate:ks:cluster-apps:flux-system REQUESTED_AT=true
        fi
    vars:
      APP: "{{index .MATCH 0}}"
