---
# yaml-language-server: $schema=https://taskfile.dev/schema.json
version: "3"

vars:
  BOOTSTRAP_DIR: "{{.K8S_DIR}}/bootstrap"

tasks:
  annotate:*:*:*:
    desc: Annotate Flux resource
    internal: true
    cmd: |
      kubectl annotate gitrepository flux-system -n flux-system \
        reconcile.fluxcd.io/requestedAt="$(date -u +%Y-%m-%dT%H:%M:%SZ)" \
        --overwrite
    vars:
      RESOURCE: "{{index .MATCH 0}}"
      NAME: "{{index .MATCH 1}}"
      NS: "{{index .MATCH 2}}"

  annotate:repo:
    desc: Annotate Flux Github repository
    cmds:
      - task: annotate:gitrepository:flux-system:flux-system
