---
- name: Provision dbs LXC
  hosts: pve-nas
  gather_facts: true
  tags: ["provision"]

  vars:
    pve_tasks:
      - create_lxc
      - start
    pve_lxc:
      os:
        type: debian
        version: 12
      config:
        vmid: "{{ hostvars['dbs'].vm_id }}"
        hostname: dbs
        memory: 4096
        cpus: 4
        disk: "local-lvm:50"
        netif:
          net0: "name=eth0,ip={{ hostvars['dbs'].ip_addr }},gw={{ hostvars['dbs'].ip_addr | ansible.utils.nthhost(1) }},bridge=vmbr0"
        mounts:
          mp0: "/data/nvme/app_data/dbs,mp=/opt/data"

  pre_tasks:
    - name: Ensure data directory exists
      ansible.builtin.file:
        path: /data/nvme/app_data/dbs
        state: directory
        owner: 100000
        group: 100000
        mode: 0755

  roles:
    - role: pve

- name: Configure dbs LXC
  hosts: dbs
  gather_facts: false
  tags: ["configure"]

  vars:
    common_tasks:
      - update
      - packages
      - hostname
      - user
      - ssh
      - profile
    apps:
      - docker
      - borg
    services:
      - postgres

    borgbase_repo_name: dbs
    borg_source_directories:
      - "{{ common_data_dir }}"

  pre_tasks:
    - name: Connection test
      tags: always
      block:
        - name: Include connection testing
          ansible.builtin.include_tasks: ../tasks/auth.yml
        - name: Gather facts
          ansible.builtin.setup:

  roles:
    - { role: common, tags: common }
    - { role: apps, tags: apps }
    - { role: services, tags: services }
