machine:
  nodeLabels:
    intel.feature.node.kubernetes.io/gpu: "true"
    topology.kubernetes.io/zone: main
  install:
    disk: /dev/nvme0n1
  network:
    hostname: k8s-opti-01
    interfaces:
      - interface: bond0
        bond:
          deviceSelectors:
            - hardwareAddr: "{{ hostvars['k8s-opti-01'].mac_addr }}"
          mode: active-backup
        addresses:
          - {{ hostvars['k8s-opti-01'].ip_addr }}
        routes:
          - network: 0.0.0.0/0
            gateway: {{ hostvars['k8s-opti-01'].ip_addr | ansible.utils.nthhost(1) }}
        dhcp: false
        mtu: 1500
      - deviceSelector:
          hardwareAddr: "{{ hostvars['k8s-opti-01'].internal.mac_addr }}"
        addresses:
          -  {{ hostvars['k8s-opti-01'].internal.ip_addr }}
        routes:
          - network: {{ hostvars['k8s-opti-01'].internal.ip_addr | ansible.utils.nthhost(0) }}/24
            gateway: ""
        mtu: 9000
        dhcp: false
---
apiVersion: v1alpha1
kind: VolumeConfig
name: EPHEMERAL
provisioning:
  diskSelector:
    match: system_disk
  maxSize: 512GiB
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: local-hostpath
provisioning:
  diskSelector:
    match: system_disk
  maxSize: 256GiB
