machine:
  nodeLabels:
    intel.feature.node.kubernetes.io/gpu: "true"
    topology.kubernetes.io/zone: main
  install:
    disk: /dev/nvme0n1
  network:
    hostname: k8s-opti-02
    interfaces:
      - interface: bond0
        bond:
          deviceSelectors:
            - hardwareAddr: "{{ hostvars['k8s-opti-02'].mac_addr }}"
          mode: active-backup
        addresses:
          - {{ hostvars['k8s-opti-02'].ip_addr }}
        routes:
          - network: 0.0.0.0/0
            gateway: {{ hostvars['k8s-opti-02'].ip_addr | ansible.utils.nthhost(1) }}
        dhcp: false
        mtu: 1500
      - deviceSelector:
          hardwareAddr: "{{ hostvars['k8s-opti-02'].internal.mac_addr }}"
        addresses:
          -  {{ hostvars['k8s-opti-02'].internal.ip_addr }}
        routes:
          - network: {{ hostvars['k8s-opti-02'].internal.ip_addr | ansible.utils.nthhost(0) }}/24
            gateway: ""
        mtu: 9000
        dhcp: false
