---
# yaml-language-server: $schema=https://taskfile.dev/schema.json
version: "3"

includes:
  talos:
    taskfile: talos
    dir: talos
  bootstrap:
    taskfile: bootstrap
    dir: bootstrap
  flux:
    taskfile: flux
    dir: flux

tasks:
  debug:*:
    desc: Open shell on a node [NODE] [vars NS]
    cmd: |
      kubectl debug node/{{.NODE}} -n {{.NAMESPACE}} -it --image="ghcr.io/nicolaka/netshoot:latest" --profile sysadmin
      kubectl delete pod -n {{.NAMESPACE}} -l app.kubernetes.io/managed-by=kubectl-debug
    vars:
      NODE: "{{index .MATCH 0}}"
      NAMESPACE: '{{.NS | default "default" }}'

  browse-pvc:*:*:
    desc: Browse a PVC [NAMESPACE:CLAIM]
    cmd: kubectl browse-pvc -n {{.NAMESPACE}} -i mirror.gcr.io/alpine:latest {{.CLAIM}}
    vars:
      NAMESPACE: "{{index .MATCH 0}}"
      CLAIM: "{{index .MATCH 1}}"

  cleanup:
    desc: Prune pods in Failed, Pending, or Succeeded state
    cmd: |
      for phase in Failed Pending Succeeded; do
          kubectl delete pods -A --field-selector status.phase="$phase" --ignore-not-found=true
      done

  volsync:snapshot:
    desc: Snapshot VolSync PVCs
    cmd: |
      kubectl get replicationsources --no-headers -A | while read -r ns name _; do
          kubectl -n "$ns" patch replicationsources "$name" --type merge -p '{"spec":{"trigger":{"manual":"$(date +%s)"}}}'
      done

  keda:*:
    desc: Suspend or resume Keda ScaledObjects ["suspend" | "resume"]
    cmd: |
      kubectl get scaledobjects --no-headers -A | while read -r ns name _; do
          kubectl -n "$ns" annotate --field-manager flux-client-side-apply --overwrite so "$name" autoscaling.keda.sh/paused{{if .STATE != "suspend"}}{{ "-" }}{{else}}{{ "=true" }}{{end}}
      done
    vars:
      STATE: "{{index .MATCH 0}}"
