---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: sonarr
spec:
  chartRef:
    kind: OCIRepository
    name: sonarr
  interval: 1h
  driftDetection:
    mode: enabled
  values:
    controllers:
      sonarr:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/home-operations/sonarr
              tag: 4.0.16.2943@sha256:0a1b8f5cb5b072f7ad8c6ff64a25dc512115d1a114ecf19a58a3b4f870207ddd
            env:
              SONARR__APP__INSTANCENAME: Sonarr
              SONARR__APP__THEME: dark
              SONARR__AUTH__METHOD: External
              SONARR__AUTH__REQUIRED: DisabledForLocalAddresses
              SONARR__LOG__DBENABLED: "False"
              SONARR__LOG__LEVEL: info
              SONARR__SERVER__PORT: &port 80
              SONARR__UPDATE__BRANCH: develop
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /ping
                    port: *port
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
              readiness: *probes
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 4Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.sbbh.cloud"
        parentRefs:
          - name: envoy-internal
            namespace: network
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/group: Media
          gethomepage.dev/icon: "{{ .Release.Name }}.svg"
          gethomepage.dev/name: "{{ .Release.Name | title }}"
          gethomepage.dev/widget.type: "{{ .Release.Name }}"
          gethomepage.dev/widget.url: "https://{{ .Release.Name }}.sbbh.cloud"
          gethomepage.dev/widget.key: "${SONARR__AUTH__APIKEY}"
          gethomepage.dev/pod-selector: "app.kubernetes.io/name={{ .Release.Name }}"
      app-ext:
        annotations:
          gatus.home-operations.com/endpoint: |-
            conditions: ["[STATUS] == 404"]
        hostnames:
          - "{{ .Release.Name }}-ext.sbbh.cloud"
        parentRefs:
          - name: envoy-external
            namespace: network
        rules:
          - matches:
              - headers:
                  - name: X-Api-Key
                    value: "${SONARR__AUTH__APIKEY}"
            backendRefs:
              - identifier: app
                port: 80

    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
      media:
        type: nfs
        server: nas-k8s.int.sbbh.cloud
        path: /data/hdd1/media/tv
        globalMounts:
          - path: /media/tv
      downloads:
        type: nfs
        server: nas-k8s.int.sbbh.cloud
        path: /data/nvme/downloads
        globalMounts:
          - path: /media/downloads
      tmp:
        type: emptyDir
