# yaml-language-server: $schema=https://raw.githubusercontent.com/budimanjojo/talhelper/master/pkg/config/schemas/talconfig.json
---
clusterName: home-ops

talosVersion: ${talosVersion}
kubernetesVersion: ${kubernetesVersion}

endpoint: https://10.11.80.100:6443
additionalApiServerCertSans: &sans
  - 127.0.0.1
additionalMachineCertSans: *sans

clusterPodNets: [10.42.0.0/16]
clusterSvcNets: [10.43.0.0/16]

controlPlane:
  schematic:
    customization:
      systemExtensions:
        officialExtensions:
          - siderolabs/i915 # Intel iGPU
          - siderolabs/intel-ucode # Intel iGPU
          - siderolabs/mei # Intel iGPU
          - siderolabs/nfsrahead # NFS Performance
          - siderolabs/util-linux-tools # Utils
  patches:
    - "@./patches/controller/admission-controller-patch.yaml"
    - "@./patches/controller/cluster.yaml"

# Global patches
patches:
  - "@./patches/global/machine-config.yaml"
  - "@./patches/global/cluster-crds.yaml"

nodes:
  - hostname: k8s-nuc
    ipAddress: 10.11.80.11
    installDisk: /dev/nvme0n1
    machineSpec:
      secureboot: false
    controlPlane: true
    nodeLabels: &nodeLabels
      intel.feature.node.kubernetes.io/gpu: "true"
    nodeAnnotations: &nodeAnnotations
      installerImage: "{{ .MachineConfig.MachineInstall.InstallImage }}"
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: 00:00:22:50:36:46
        dhcp: false
        addresses:
          - 10.11.80.11/24
        routes:
          - network: 0.0.0.0/0
            gateway: 10.11.80.1
        mtu: 1500
        vip:
          ip: 10.11.80.100
      - deviceSelector:
          hardwareAddr: 48:21:0b:55:89:ab
        dhcp: false
        addresses:
          - 192.168.80.11/24
        routes:
          - network: 192.168.80.0/24
        mtu: 1500
  - hostname: k8s-opti-01
    ipAddress: 10.11.80.12
    installDisk: /dev/nvme0n1
    machineSpec:
      secureboot: false
    controlPlane: true
    nodeLabels: *nodeLabels
    nodeAnnotations: *nodeAnnotations
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: 54:bf:64:a1:1c:00
        dhcp: false
        addresses:
          - 10.11.80.12/24
        routes:
          - network: 0.0.0.0/0
            gateway: 10.11.80.1
        mtu: 1500
        vip:
          ip: 10.11.80.100
      - deviceSelector:
          hardwareAddr: 02:26:25:02:06:43
        dhcp: false
        addresses:
          - 192.168.80.12/24
        routes:
          - network: 192.168.80.0/24
        mtu: 1500
  - hostname: k8s-opti-02
    ipAddress: 10.11.80.13
    installDisk: /dev/nvme0n1
    machineSpec:
      secureboot: false
    controlPlane: true
    nodeLabels: *nodeLabels
    nodeAnnotations: *nodeAnnotations
    networkInterfaces:
      - deviceSelector:
          hardwareAddr: d8:9e:f3:82:d6:59
        dhcp: false
        addresses:
          - 10.11.80.13/24
        routes:
          - network: 0.0.0.0/0
            gateway: 10.11.80.1
        mtu: 1500
        vip:
          ip: 10.11.80.100
      - deviceSelector:
          hardwareAddr: 02:26:25:02:06:51
        dhcp: false
        addresses:
          - 192.168.80.13/24
        routes:
          - network: 192.168.80.0/24
        mtu: 1500
