---
# yaml-language-server: $schema=https://taskfile.dev/schema.json
version: "3"

tasks:
  init:gensecret:
    desc: Create Talos secret file
    cmds:
      - mkdir -p {{.PRIVATE_DIR}}/talos
      - talosctl gen secrets -o {{.PRIVATE_DIR}}/talos/talsecret.yaml
    generates:
      - "{{.PRIVATE_DIR}}/talos/talsecret.yaml"
    status:
      - test -f {{.PRIVATE_DIR}}/talos/talsecret.yaml

  init:genconfig:
    desc: Generate Talos config
    cmds:
      - mkdir -p {{.PRIVATE_DIR}}/talos/nodes
      - |
        ansible localhost -m template \
          -a "src={{.TALOS_DIR}}/machineconfig.yaml.j2 dest={{.PRIVATE_DIR}}/talos/machineconfig.yaml" \
          -e "schematic={{.SCHEMATIC}}" \
          -e @"{{.PRIVATE_DIR}}/talos/talsecret.yaml"
      - |
        for file in "{{.TALOS_DIR}}/nodes/"*.yaml.j2; do
          node="$(basename $file .yaml.j2)"
          ansible localhost -m template -a "src=$file dest={{.PRIVATE_DIR}}/talos/nodes/$node.yaml"
        done
      - |
        talosctl gen config home-ops https://{{.CLUSTER_ENDPOINT}}:6443 \
          --with-secrets "{{.PRIVATE_DIR}}/talos/talsecret.yaml" \
          --output "{{.PRIVATE_DIR}}/talos/talosconfig.yaml" \
          --output-types talosconfig \
          --force
    vars:
      SCHEMATIC:
        sh: curl -sX POST --data-binary @schematic.yaml "https://factory.talos.dev/schematics" | jq -r '.id'
      CLUSTER_ENDPOINT:
        sh: yq '.k8s.vars.cluster_endpoint' < "{{.ANSIBLE_DIR}}/inventory.yml"
    preconditions:
      - test -f schematic.yaml
      - test -f machineconfig.yaml.j2
      - test -f "{{.PRIVATE_DIR}}/talos/talsecret.yaml"
      - test -f "{{.ANSIBLE_DIR}}/inventory.yml"

  init:apply:*:
    desc: Apply Talos config to node [vars INSECURE=true]
    cmds:
      - echo {{.NODE}}
      - |
        talosctl apply-config \
          -f "{{.PRIVATE_DIR}}/talos/machineconfig.yaml" \
          --nodes {{.NODE}} \
          --config-patch "@{{.PRIVATE_DIR}}/talos/nodes/{{.NODE}}.yaml" {{if .INSECURE}}--insecure{{end}}
      - talosctl config endpoint {{.NODE}}
      - talosctl config node {{.NODE}}
    vars:
      NODE: "{{index .MATCH 0}}"
      INSECURE:
        sh: talosctl --nodes {{.NODE}} get machineconfig &> /dev/null || echo true
    preconditions:
      - test -f "{{.PRIVATE_DIR}}/talos/machineconfig.yaml"
      - test -f "{{.PRIVATE_DIR}}/talos/nodes/{{.NODE}}.yaml"

  init:bootstrap:
    desc: Bootstrap Talos cluster [vars NODE]
    cmd: talosctl --nodes {{.NODE | default .DEFAULT_NODE}} bootstrap
    vars:
      DEFAULT_NODE:
        sh: talosctl config info --output json | jq --exit-status --raw-output '.endpoints[]' | shuf -n 1

  init:kubeconfig:
    desc: Fetch kubeconfig for Talos cluster [vars NODE]
    cmd: talosctl --nodes {{.NODE | default .DEFAULT_NODE}} --endpoints {{.NODE | default .DEFAULT_NODE}} kubeconfig -f --force-context-name main {{.PRIVATE_DIR}}/talos/
    vars:
      DEFAULT_NODE:
        sh: talosctl config info --output json | jq --exit-status --raw-output '.endpoints[]' | shuf -n 1

  reboot:*:
    desc: Reboot a Talos node
    prompt: Reboot node {{.NODE}}?
    cmd: echo talosctl --nodes {{.NODE}} reboot -m powercycle
    vars:
      NODE:
        sh: |
          if [[ "{{index .MATCH 0}}" == "all" ]]; then
            talosctl config info --output json | jq --exit-status --join-output '[.nodes[]] | join(",")'
          else
            echo {{index .MATCH 0}}
          fi
    preconditions:
      - talosctl --nodes {{.NODE}} get machineconfig

  reset:*:
    desc: Reset a Talos node ["all" for all nodes]
    prompt: Reset node {{.NODE}}?
    cmd: echo talosctl --nodes {{.NODE}} reset --graceful=false
    vars:
      NODE:
        sh: |
          if [[ "{{index .MATCH 0}}" == "all" ]]; then
            talosctl config info --output json | jq --exit-status --join-output '[.nodes[]] | join(",")'
          else
            echo {{index .MATCH 0}}
          fi
    preconditions:
      - talosctl --nodes {{.NODE}} get machineconfig
