---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph
spec:
  chartRef:
    kind: OCIRepository
    name: rook-ceph
  interval: 1h
  values:
    csi:
      cephFSKernelMountOptions: ms_mode=prefer-crc
      enableLiveness: true
      serviceMonitor:
        enabled: true
      csiRBDProvisionerResource:
        requests:
          cpu: 50m
          memory: 128Mi
        limits:
          memory: 512Mi
      csiRBDPluginResource:
        requests:
          cpu: 50m
          memory: 128Mi
        limits:
          memory: 512Mi
      csiCephFSProvisionerResource:
        requests:
          cpu: 50m
          memory: 128Mi
        limits:
          memory: 512Mi
      csiCephFSPluginResource:
        requests:
          cpu: 50m
          memory: 128Mi
        limits:
          memory: 512Mi
    image:
      repository: ghcr.io/rook/ceph
    monitoring:
      enabled: true
    resources:
      requests:
        memory: 128Mi # unchangable
        cpu: 100m # unchangable
      limits: {}
